body {
  text-align: center;
}

.welcome {
  font-size: 20px;
}

body .card {
  margin-top: 40px;
  margin-right: 150px;
  display: inline-block;
}

.card_img {
  width: 300px;
  height: 300px;
}

.card_title {
  font-size: 30px;
}

.card_button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}
